@import "_vars";
@import "_global";
@import "_fonts";

// start header

.header_top {
    padding: 25px 0;
    background-color: $gbg;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo a {
        display: flex;
        align-items: center;
        img {
            margin-right: 6px;
        }
        color: #000;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        font-size: 30px;
        span {
            color: $bblue;
        }
    }
}
.header_inner-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_inner-seller {
    margin-right: 50px;
    a {
        padding: 4px 18px;
        background-color: $bblue;
        color: #fff;
        border-radius: 35px;
        line-height: 28px;
        font-size: 14px;
    }
}
.header_inner-user {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 22px;
}
.header_username {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.header_balance {
    color: #0674ec;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.header_menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
}
.menu_list {
    li {
        display: inline-block;
        text-transform: uppercase;
        & + li {
            margin-left: 34px;
        }
        a {
            font-family: "Quicksand", sans-serif;
            color: $navbtn;
            font-size: 15px;
            line-height: 42px;
            font-weight: 500;
        }
    }
}
.header_search-form {
    max-width: 360px;
    position: relative;
    input {
        border-radius: 60px;
        border: 1px solid rgb(217, 223, 229);
        outline: none;
        padding: 10px 75px 12px 10px;
        width: 360px;
        &::placeholder {
            color: #898f96;
            font-size: 15px;
            line-height: 30px;
        }
    }
    button {
        position: absolute;
        border: none;
        background-color: $bblue;
        border-radius: 22px;
        padding: 0 27px;
        height: 100%;
        top: 0;
        right: 0;
        &:active {
            border: 1px solid #000;
        }
    }
}

//end header

//start products_search

.products_search {
    text-align: center;
    color: #fff;
    &_inner {
        background-color: $dblue;
        padding-top: 184px;
        padding-bottom: 235px;
    }
    &-title {
        font-size: 60px;
        line-height: 70px;
        div {
            font-weight: 700;
        }
    }
    &-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 72px;
        margin-bottom: 35px;
    }
    &-btn a {
        color: #fff;
        font-size: 16px;
        line-height: 55px;
        border: 1px solid #fff;
        border-radius: 30px;
        padding: 0 32px;
        transition: all 0.3s;
        & + a {
            margin-left: 24px;
        }
        &:active,
        &:hover {
            background-color: #fff;
            color: $bblue;
        }
    }
}
.search {
    position: relative;
}
.search-transparent_box1 {
    position: absolute;
    border-radius: 6px 6px 0 0;
    background-color: rgb(255, 255, 255);
    opacity: 0.502;
    z-index: 1;
    top: -10px;
    left: 16px;
    width: 1108px;
    height: 13px;
}
.search-transparent_box2 {
    position: absolute;
    border-radius: 6px 6px 0 0;
    background-color: rgb(255, 255, 255);
    opacity: 0.502;
    z-index: 1;
    top: -20px;
    left: 32px;
    width: 1076px;
    height: 26px;
}
.search-box {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    margin: -60px 0px;
}
.search-input {
    position: relative;
    input {
        padding: 16px 26px;
        outline: none;
        border-radius: 4px 0 0 4px;
        border-width: 1px;
        border-color: rgb(220, 220, 220);
        border-style: solid;
        width: 610px;
        height: 55px;
    }
    select {
        outline: none;
        padding-left: 20px;
        padding-right: 40px;
        width: 195px;
        height: 55px;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
        border-radius: 0 4px 4px 0;
        border-left: none;
        position: absolute;
    }
}
.search-right {
    button {
        color: #fff;
        border: none;
        border-radius: 4px;
        background-color: $bblue;
        padding: 20px 50px;
        height: 55px;
        font-size: 16px;
        outline: none;
    }
}

//end products_search

//start advantages

.advantages {
    margin-top: 185px;
    padding-bottom: 145px;
}
.advantages_inner {
    display: flex;
    justify-content: space-between;
}
.advantages_item {
    padding: 0px 30px;
    max-width: 360px;
    text-align: center;
    transition: all 0.3s;
    &-pic {
        padding: 40px 0px 30px;
    }
    &-title {
        font-size: 24px;
        padding-bottom: 30px;
        color: #000;
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
        color: $lgrey;
        padding-bottom: 38px;
    }
    &:hover {
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
}

//end advantages

//start weekly products

.weekly_products {
    background-color: $gbg;
    padding: 120px 0;
}
.weekly_products_top {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    width: 100%;
    padding: 40px 30px;
    &-title {
        font-size: 30px;
        color: #000;
    }
}
.weekly_products-slider {
    margin-top: 50px;
}
.showcase {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
}
.showcase_preview {
    width: 555px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.showcase_info {
    padding: 50px 50px 25px;
    background-color: #fff;
    &-title {
        padding-bottom: 14px;
        a {
            color: #000;
            font-size: 24px;
        }
    }
    &-author{
        display: flex;
        align-items: center;
        padding-bottom: 35px;
        .author-pfp{
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }
        .author-name{
            margin-left: 9px;
            a{
                font-size: 15px;
                color: #000;
            }
        }
        .author-wordpress{
            margin-left: 45px;
            a{
                font-size: 15px;
                color: $purple;
                position: relative;
            }
            a::before{
                content: '';
                width: 16px;
                height: 16px;
                background-image: url(../images/icons/wordpress.png);
                position: absolute;
                left: -25px;
                top: 4px;
            }
        }
    }
    &-text{
        a{
            color: $lgrey;
            font-size: 16px;
            line-height: 30px;
        }
        padding-bottom: 35px;
    }
    &-tags{
        display: flex;
        align-items: center;
        margin-bottom: 44px;
        a+a{
            margin-left: 7px;
        }
        .tag{
            padding: 12px 14px 12px 17px;
            background-color: #f1f3f6;
            color: #868c96;
            font-size: 15px;
            line-height: 0;
            border-radius: 14px;
        }
    }
    &-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 23px;
        border-top: 1px solid #ececec;
        &-left{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-price{
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        padding: 5px 18px;
        background-color: $bblue;
        border-radius: 20px;
    }
    &-likes{
        margin-left: 44px;
        font-size: 15px;
        color: $lgrey;
        position: relative;
        &::before{
            content: '';
            background-image: url(../images/icons/heart.svg);
            width: 20px;
            height: 20px;
            position: absolute;
            left: -26px;
            top: 1px;
        }
    }
    &-bought{
        margin-left: 42px;
        color: $bblue;
        font-size: 15px;
        position: relative;
        &::before{
            content: '';
            background-image: url(../images/icons/cart.svg);
            width: 20px;
            height: 20px;
            position: absolute;
            left: -26px;
            top: 1px;
        }
    }
}

//end weekly products